n8n-workflows/llm-api-keys/claude-manage-keys.json
{
  "name": "Claude Admin - 管理 API Keys (导入/删除/更新) (claude-manage-keys.json)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "developer-platform/claude/manage-keys",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "claude-manage-keys"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst action = body.action;\n\nif (!action) {\n  return [{ json: { success: false, error: '缺少 action 参数（import/delete/update/verify）' } }];\n}\n\n// create 操作不被支持\nif (action === 'create') {\n  return [{ json: { success: false, error: 'Claude Admin API 不支持创建 API Key。请在 Claude Console (https://console.anthropic.com) 手动创建后，使用 import 操作导入。' } }];\n}\n\n// import 操作只需要 api_key，不需要 admin_key\nif (action === 'import') {\n  if (!body.api_key || !body.api_key.startsWith('sk-ant-api')) {\n    return [{ json: { success: false, error: '导入需要提供有效的 api_key（以 sk-ant-api 开头）' } }];\n  }\n  return [{ json: { \n    action: 'import',\n    api_key: body.api_key.trim(),\n    name: body.name || '',\n    business: body.business || '',\n    description: body.description || '',\n    platform_account_id: body.platform_account_id || null,\n    owner_id: body.owner_id || null,\n    route: 'import'\n  } }];\n}\n\n// 其他操作需要 admin_key 或 platform_account_id\nconst hasAdminKey = body.admin_key && body.admin_key.trim().startsWith('sk-ant-admin');\nconst hasPlatformAccountId = !!body.platform_account_id;\n\nif (!hasAdminKey && !hasPlatformAccountId) {\n  return [{ json: { success: false, error: '需要提供 admin_key 或 platform_account_id' } }];\n}\n\nreturn [{ json: { \n  action: action,\n  admin_key: hasAdminKey ? body.admin_key.trim() : null,\n  platform_account_id: body.platform_account_id || null,\n  need_fetch_admin_key: !hasAdminKey && hasPlatformAccountId,\n  name: body.name || '',\n  workspace_id: body.workspace_id || null,\n  api_key_id: body.api_key_id || null,\n  new_name: body.new_name || null,\n  status: body.status || null,\n  api_key: body.api_key || null,\n  db_key_id: body.db_key_id || null,\n  business: body.business || '',\n  description: body.description || '',\n  owner_id: body.owner_id || null\n} }];"
      },
      "id": "preprocess",
      "name": "预处理参数",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.need_fetch_admin_key }}", "value2": true }]
        }
      },
      "id": "check-need-fetch",
      "name": "需要查询AdminKey",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://supabase-045.mindoffice.cn/rest/v1/llm_platform_accounts?id=eq.' + $json.platform_account_id + '&select=id,name,platform,admin_api_key_encrypted,status' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" }
          ]
        },
        "options": {}
      },
      "id": "fetch-admin-key",
      "name": "查询平台账号",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('预处理参数').first().json;\nconst dbResult = $input.first().json;\nconst account = Array.isArray(dbResult) ? dbResult[0] : dbResult;\n\nif (!account || !account.admin_api_key_encrypted) {\n  return [{ json: { success: false, error: '未找到平台账号或该账号没有配置 Admin Key' } }];\n}\nif (account.status !== 'active') {\n  return [{ json: { success: false, error: '平台账号状态异常: ' + account.status } }];\n}\nif (account.platform !== 'anthropic') {\n  return [{ json: { success: false, error: '平台类型不匹配' } }];\n}\n\nreturn [{ json: { ...prevData, admin_key: account.admin_api_key_encrypted, need_fetch_admin_key: false } }];"
      },
      "id": "merge-admin-key",
      "name": "合并AdminKey",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst action = data.action;\nconst adminKey = data.admin_key;\n\nif (!adminKey || !adminKey.startsWith('sk-ant-admin')) {\n  return [{ json: { success: false, error: 'Admin Key 格式不正确' } }];\n}\n\nif ((action === 'delete' || action === 'update') && !data.api_key_id) {\n  return [{ json: { success: false, error: '需要提供 api_key_id' } }];\n}\nif (action === 'verify' && !data.api_key) {\n  return [{ json: { success: false, error: '验证需要提供 api_key' } }];\n}\n\n// 路由标记\nreturn [{ json: { ...data, route: action } }];"
      },
      "id": "validate-input",
      "name": "验证输入",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.route === 'import' }}", "value2": true }]
        }
      },
      "id": "route-import",
      "name": "是导入操作",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.api_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"claude-3-haiku-20240307\", \"max_tokens\": 10, \"messages\": [{ \"role\": \"user\", \"content\": \"Hi\" }]}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "verify-import-key",
      "name": "验证导入Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\nconst inputData = $('预处理参数').first().json;\nconst apiKey = inputData.api_key;\n\n// 检查验证结果\nif (apiResult.error) {\n  const errorType = apiResult.error.type || '';\n  // rate_limit 说明 key 是有效的\n  if (errorType !== 'rate_limit_error' && errorType !== 'overloaded_error') {\n    return [{ json: { success: false, error: 'API Key 无效: ' + (apiResult.error.message || '验证失败') } }];\n  }\n}\n\n// Key 有效，准备保存\nconst keyPrefix = apiKey.substring(0, 12);\nconst keySuffix = apiKey.slice(-4);\nconst keyName = inputData.name || ('imported-' + keySuffix);\n\nreturn [{ json: { \n  success: true,\n  action: 'import',\n  api_key: apiKey,\n  api_key_prefix: keyPrefix,\n  api_key_suffix: keySuffix,\n  name: keyName,\n  business: inputData.business,\n  description: inputData.description,\n  platform_account_id: inputData.platform_account_id,\n  owner_id: inputData.owner_id\n} }];"
      },
      "id": "process-import",
      "name": "处理导入验证",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.success }}", "value2": true }]
        }
      },
      "id": "if-import-valid",
      "name": "导入Key有效",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase-045.mindoffice.cn/rest/v1/llm_api_keys",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name, platform: 'anthropic', api_key_encrypted: $json.api_key, api_key_prefix: $json.api_key_prefix, api_key_suffix: $json.api_key_suffix, status: 'active', business: $json.business || null, description: $json.description || null, platform_account_id: $json.platform_account_id || null, creation_method: 'import' }) }}",
        "options": {}
      },
      "id": "save-import-db",
      "name": "保存导入到数据库",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 100]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('处理导入验证').first().json;\nconst dbResult = $input.first().json;\nconst keyId = Array.isArray(dbResult) ? dbResult[0]?.id : dbResult?.id;\n\nreturn [{ json: { success: true, action: 'import', message: 'API Key 导入成功', id: keyId, key: { name: prevData.name, api_key_prefix: prevData.api_key_prefix, api_key_suffix: prevData.api_key_suffix } } }];"
      },
      "id": "import-success-response",
      "name": "导入成功响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.route === 'delete' }}", "value2": true }]
        }
      },
      "id": "route-delete",
      "name": "是删除操作",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.anthropic.com/v1/organizations/api_keys/' + $json.api_key_id }}",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.admin_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'inactive' }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "delete-key",
      "name": "禁用API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\nconst inputData = $('验证输入').first().json;\n\nif (apiResult.error) {\n  if (apiResult.error.type === 'not_found_error') {\n    return [{ json: { success: true, action: 'delete', message: 'API Key 已不存在', db_key_id: inputData.db_key_id } }];\n  }\n  return [{ json: { success: false, error: apiResult.error.message || '禁用失败' } }];\n}\n\nreturn [{ json: { success: true, action: 'delete', message: 'API Key 已禁用', api_key_id: inputData.api_key_id, db_key_id: inputData.db_key_id } }];"
      },
      "id": "process-delete",
      "name": "处理删除结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.success && $json.db_key_id ? true : false }}", "value2": true }]
        }
      },
      "id": "check-db-delete",
      "name": "需删除数据库",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2440, 400]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ 'https://supabase-045.mindoffice.cn/rest/v1/llm_api_keys?id=eq.' + $json.db_key_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" }
          ]
        },
        "options": {}
      },
      "id": "delete-db",
      "name": "删除数据库记录",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 350]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('处理删除结果').first().json;\nreturn [{ json: { success: true, action: 'delete', message: prevData.message + '，数据库已清除', db_deleted: true } }];"
      },
      "id": "delete-success-response",
      "name": "删除成功响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 350]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $input.first().json;\nreturn [{ json: prevData }];"
      },
      "id": "delete-no-db-response",
      "name": "无需删除DB响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 480]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.route === 'update' }}", "value2": true }]
        }
      },
      "id": "route-update",
      "name": "是更新操作",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2000, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.anthropic.com/v1/organizations/api_keys/' + $json.api_key_id }}",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.admin_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.new_name || undefined, status: $json.status || undefined }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "update-key",
      "name": "更新API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 600]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\n\nif (apiResult.error) {\n  return [{ json: { success: false, error: apiResult.error.message || '更新失败' } }];\n}\n\nreturn [{ json: { success: true, action: 'update', message: 'API Key 更新成功', key: { id: apiResult.id, name: apiResult.name, status: apiResult.status } } }];"
      },
      "id": "process-update",
      "name": "处理更新结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.api_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"claude-3-haiku-20240307\", \"max_tokens\": 10, \"messages\": [{ \"role\": \"user\", \"content\": \"Hi\" }]}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "verify-key",
      "name": "验证API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 800]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\n\nif (apiResult.error) {\n  const errorType = apiResult.error.type || '';\n  if (errorType === 'rate_limit_error' || errorType === 'overloaded_error') {\n    return [{ json: { success: true, action: 'verify', valid: true, status: 'rate_limited', message: 'Key 有效但触发限制' } }];\n  }\n  return [{ json: { success: true, action: 'verify', valid: false, status: 'invalid', error: apiResult.error.message } }];\n}\n\nreturn [{ json: { success: true, action: 'verify', valid: true, status: 'active', message: 'Key 有效' } }];"
      },
      "id": "process-verify",
      "name": "处理验证结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 800]
    }
  ],
  "connections": {
    "Webhook触发": { "main": [[{ "node": "预处理参数", "type": "main", "index": 0 }]] },
    "预处理参数": { "main": [[{ "node": "是导入操作", "type": "main", "index": 0 }]] },
    "是导入操作": { 
      "main": [
        [{ "node": "验证导入Key", "type": "main", "index": 0 }],
        [{ "node": "需要查询AdminKey", "type": "main", "index": 0 }]
      ] 
    },
    "验证导入Key": { "main": [[{ "node": "处理导入验证", "type": "main", "index": 0 }]] },
    "处理导入验证": { "main": [[{ "node": "导入Key有效", "type": "main", "index": 0 }]] },
    "导入Key有效": { 
      "main": [
        [{ "node": "保存导入到数据库", "type": "main", "index": 0 }],
        []
      ] 
    },
    "保存导入到数据库": { "main": [[{ "node": "导入成功响应", "type": "main", "index": 0 }]] },
    "需要查询AdminKey": { 
      "main": [
        [{ "node": "查询平台账号", "type": "main", "index": 0 }],
        [{ "node": "验证输入", "type": "main", "index": 0 }]
      ] 
    },
    "查询平台账号": { "main": [[{ "node": "合并AdminKey", "type": "main", "index": 0 }]] },
    "合并AdminKey": { "main": [[{ "node": "验证输入", "type": "main", "index": 0 }]] },
    "验证输入": { "main": [[{ "node": "是删除操作", "type": "main", "index": 0 }]] },
    "是删除操作": { 
      "main": [
        [{ "node": "禁用API Key", "type": "main", "index": 0 }],
        [{ "node": "是更新操作", "type": "main", "index": 0 }]
      ] 
    },
    "禁用API Key": { "main": [[{ "node": "处理删除结果", "type": "main", "index": 0 }]] },
    "处理删除结果": { "main": [[{ "node": "需删除数据库", "type": "main", "index": 0 }]] },
    "需删除数据库": { 
      "main": [
        [{ "node": "删除数据库记录", "type": "main", "index": 0 }],
        [{ "node": "无需删除DB响应", "type": "main", "index": 0 }]
      ] 
    },
    "删除数据库记录": { "main": [[{ "node": "删除成功响应", "type": "main", "index": 0 }]] },
    "是更新操作": { 
      "main": [
        [{ "node": "更新API Key", "type": "main", "index": 0 }],
        [{ "node": "验证API Key", "type": "main", "index": 0 }]
      ] 
    },
    "更新API Key": { "main": [[{ "node": "处理更新结果", "type": "main", "index": 0 }]] },
    "验证API Key": { "main": [[{ "node": "处理验证结果", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
