n8n-workflows/llm-api-keys/openai-create-key.json
{
  "name": "OpenAI Admin - 创建 API Key (openai-create-key.json)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "developer-platform/openai/create-key",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "openai-create-key"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nif (!body.admin_key) {\n  return [{ json: { success: false, error: '缺少 Admin Key' } }];\n}\nif (!body.project_id) {\n  return [{ json: { success: false, error: '缺少 Project ID' } }];\n}\nif (!body.name) {\n  return [{ json: { success: false, error: '请填写 Key 名称' } }];\n}\n\nreturn [{ json: { \n  admin_key: body.admin_key,\n  organization_id: body.organization_id || '',\n  project_id: body.project_id,\n  name: body.name,\n  business: body.business || '',\n  owner_id: body.owner_id || null,\n  expires_at: body.expires_at || null,\n  platform_account_id: body.platform_account_id || null\n} }];"
      },
      "id": "validate-input",
      "name": "验证输入",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "check-key", "leftValue": "={{ $json.admin_key }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-admin-key",
      "name": "检查参数",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.openai.com/v1/organization/projects/' + $json.project_id + '/service_accounts' }}",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.admin_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "call-openai-api",
      "name": "调用OpenAI创建ServiceAccount",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\nconst inputData = $('验证输入').first().json;\n\n// 检查 API 错误\nif (apiResult.error) {\n  let errorMsg = apiResult.error.message || 'OpenAI API 调用失败';\n  const errorCode = apiResult.error.code || apiResult.error.type;\n  const errMessage = (apiResult.error.message || '').toLowerCase();\n  \n  // 提供更友好的错误提示 - 权限相关\n  if (errMessage.includes('missing scopes') || errMessage.includes('api.management.write')) {\n    errorMsg = 'Admin Key 权限不足：缺少 api.management.write 权限。请到 OpenAI 后台创建一个有完整管理权限的 API Key';\n  } else if (errMessage.includes('insufficient permissions')) {\n    errorMsg = 'Admin Key 权限不足，请确保使用有完整权限的 API Key';\n  } else if (errorCode === 'insufficient_quota') {\n    errorMsg = '账户额度不足';\n  } else if (errorCode === 'invalid_api_key') {\n    errorMsg = 'Admin Key 无效或已过期';\n  } else if (errorCode === 'permission_denied' || errorCode === 'access_denied') {\n    errorMsg = '权限不足，请确保 Admin Key 有创建 Service Account 的权限';\n  } else if (errorCode === 'organization_not_found') {\n    errorMsg = '组织不存在';\n  } else if (errorCode === 'project_not_found') {\n    errorMsg = '项目不存在，请检查 Project ID';\n  } else if (apiResult.statusCode === 404) {\n    errorMsg = '项目不存在或无权访问';\n  } else if (apiResult.statusCode === 401) {\n    errorMsg = 'Admin Key 认证失败';\n  } else if (apiResult.statusCode === 403) {\n    errorMsg = '权限不足，需要 Organization Owner 或 Project Owner 权限';\n  }\n  \n  return [{ json: { \n    success: false, \n    error: errorMsg,\n    code: errorCode,\n    details: JSON.stringify(apiResult.error)\n  } }];\n}\n\n// 检查响应状态码\nif (apiResult.statusCode && apiResult.statusCode >= 400) {\n  return [{ json: { \n    success: false, \n    error: `API 请求失败 (${apiResult.statusCode})`,\n    details: JSON.stringify(apiResult)\n  } }];\n}\n\n// Service Account 返回格式: \n// { object: 'organization.project.service_account', id, name, role, created_at, api_key: { object, value, name, created_at } }\nconst apiKey = apiResult.api_key;\nif (!apiKey || !apiKey.value) {\n  return [{ json: { \n    success: false, \n    error: '创建失败，未返回 API Key 信息',\n    details: JSON.stringify(apiResult)\n  } }];\n}\n\nconst fullKey = apiKey.value;\nconst keyPrefix = fullKey.substring(0, 12);\nconst keySuffix = fullKey.slice(-4);\n\n// 返回新创建的 Key 信息\nreturn [{ json: { \n  success: true,\n  platform_key_id: apiKey.name || apiResult.id,\n  service_account_id: apiResult.id,\n  name: inputData.name,\n  api_key: fullKey,\n  api_key_prefix: keyPrefix,\n  api_key_suffix: keySuffix,\n  created_at: apiResult.created_at ? new Date(apiResult.created_at * 1000).toISOString() : new Date().toISOString(),\n  project_id: inputData.project_id,\n  business: inputData.business,\n  owner_id: inputData.owner_id,\n  expires_at: inputData.expires_at,\n  platform_account_id: inputData.platform_account_id\n} }];"
      },
      "id": "check-api-result",
      "name": "检查API结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.success }}", "value2": true }]
        }
      },
      "id": "if-success",
      "name": "是否成功",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase-045.mindoffice.cn/rest/v1/llm_api_keys",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.name,\n  platform: 'openai',\n  platform_key_id: $json.platform_key_id,\n  platform_account_id: $json.platform_account_id,\n  project_id: $json.project_id,\n  api_key_encrypted: $json.api_key,\n  api_key_prefix: $json.api_key_prefix,\n  api_key_suffix: $json.api_key_suffix,\n  status: 'active',\n  business: $json.business || null,\n  expires_at: $json.expires_at || null,\n  creation_method: 'api',\n  created_at: $json.created_at\n}) }}",
        "options": {}
      },
      "id": "save-to-db",
      "name": "保存到数据库",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $('检查API结果').first().json.owner_id ? true : false }}", "value2": true }]
        }
      },
      "id": "check-owner",
      "name": "是否有责任人",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase-045.mindoffice.cn/rest/v1/llm_api_key_owners",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  api_key_id: Array.isArray($json) ? $json[0].id : $json.id,\n  user_id: $('检查API结果').first().json.owner_id,\n  is_primary: true,\n  role: 'owner'\n}) }}",
        "options": {}
      },
      "id": "save-owner",
      "name": "保存责任人",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 0]
    },
    {
      "parameters": {
        "jsCode": "const dbResult = $('保存到数据库').first().json;\nconst apiData = $('检查API结果').first().json;\n\n// 兼容数组和对象格式\nconst keyId = Array.isArray(dbResult) ? dbResult[0]?.id : dbResult?.id;\n\nreturn [{ json: { \n  success: true, \n  message: `API Key \"${apiData.name}\" 创建成功`,\n  id: keyId || apiData.platform_key_id,\n  name: apiData.name,\n  api_key: apiData.api_key,\n  masked_key: `${apiData.api_key_prefix}****${apiData.api_key_suffix}`,\n  platform: 'openai',\n  project_id: apiData.project_id,\n  business: apiData.business,\n  created_at: apiData.created_at,\n  warning: '请妥善保存此 API Key，它只会显示一次！'\n} }];"
      },
      "id": "success-response",
      "name": "成功响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 100]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { \n  success: false, \n  error: data.error || '创建失败',\n  code: data.code\n} }];"
      },
      "id": "api-error-response",
      "name": "API错误响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { \n  success: false, \n  error: data.error || '参数验证失败'\n} }];"
      },
      "id": "error-response",
      "name": "验证错误响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook触发": { "main": [[{ "node": "验证输入", "type": "main", "index": 0 }]] },
    "验证输入": { "main": [[{ "node": "检查参数", "type": "main", "index": 0 }]] },
    "检查参数": { 
      "main": [
        [{ "node": "调用OpenAI创建ServiceAccount", "type": "main", "index": 0 }],
        [{ "node": "验证错误响应", "type": "main", "index": 0 }]
      ] 
    },
    "调用OpenAI创建ServiceAccount": { "main": [[{ "node": "检查API结果", "type": "main", "index": 0 }]] },
    "检查API结果": { "main": [[{ "node": "是否成功", "type": "main", "index": 0 }]] },
    "是否成功": { 
      "main": [
        [{ "node": "保存到数据库", "type": "main", "index": 0 }],
        [{ "node": "API错误响应", "type": "main", "index": 0 }]
      ] 
    },
    "保存到数据库": { "main": [[{ "node": "是否有责任人", "type": "main", "index": 0 }]] },
    "是否有责任人": {
      "main": [
        [{ "node": "保存责任人", "type": "main", "index": 0 }],
        [{ "node": "成功响应", "type": "main", "index": 0 }]
      ]
    },
    "保存责任人": { "main": [[{ "node": "成功响应", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
