n8n-workflows/llm-api-keys/openai-list-keys.json
{
  "name": "OpenAI Admin - 列出 API Keys (openai-list-keys.json)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "developer-platform/openai/list-keys",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "openai-list-keys"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.openai.com/v1/organization/projects/' + $json.body.project_id + '/api_keys' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "100" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.body.admin_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "call-openai-api",
      "name": "调用OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\nconst webhookData = $('Webhook触发').first().json.body || {};\n\n// 检查 API 错误\nif (apiResult.error) {\n  return [{ json: { \n    success: false, \n    error: apiResult.error.message || 'OpenAI API 调用失败',\n    code: apiResult.error.code\n  } }];\n}\n\n// 处理返回的 Keys 列表\nconst keys = apiResult.data || [];\n\n// 转换为我们的格式\nconst formattedKeys = keys.map(key => ({\n  id: key.id,\n  name: key.name,\n  redacted_value: key.redacted_value,\n  created_at: key.created_at ? new Date(key.created_at * 1000).toISOString() : null,\n  owner: key.owner,\n  platform: 'openai',\n  project_id: webhookData.project_id\n}));\n\nreturn [{ json: { \n  success: true,\n  keys: formattedKeys,\n  total: formattedKeys.length,\n  has_more: apiResult.has_more || false\n} }];"
      },
      "id": "process-result",
      "name": "处理结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook触发": { "main": [[{ "node": "调用OpenAI API", "type": "main", "index": 0 }]] },
    "调用OpenAI API": { "main": [[{ "node": "处理结果", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}
