n8n-workflows/llm-api-keys/openrouter-manage-keys.json
{
  "name": "OpenRouter Admin - 管理 API Keys (创建/删除/更新/列表) (openrouter-manage-keys.json)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "developer-platform/openrouter/manage-keys",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "openrouter-manage-keys"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst action = body.action;\n\nif (!action) {\n  return [{ json: { success: false, error: '缺少 action 参数（list/create/delete/update/sync/credits）' } }];\n}\n\nconst validActions = ['list', 'create', 'delete', 'update', 'sync', 'credits'];\nif (!validActions.includes(action)) {\n  return [{ json: { success: false, error: '无效的 action，支持: ' + validActions.join(', ') } }];\n}\n\n// 需要 admin_key 或 platform_account_id\nconst hasAdminKey = body.admin_key && body.admin_key.trim().startsWith('sk-or-');\nconst hasPlatformAccountId = !!body.platform_account_id;\n\nif (!hasAdminKey && !hasPlatformAccountId) {\n  return [{ json: { success: false, error: '需要提供 admin_key（以 sk-or- 开头）或 platform_account_id' } }];\n}\n\nreturn [{ json: { \n  action: action,\n  admin_key: hasAdminKey ? body.admin_key.trim() : null,\n  platform_account_id: body.platform_account_id || null,\n  need_fetch_admin_key: !hasAdminKey && hasPlatformAccountId,\n  // 创建参数\n  name: body.name || '',\n  limit: body.limit || null,\n  limit_reset: body.limit_reset || null,\n  expires_at: body.expires_at || null,\n  // 更新/删除参数\n  key_hash: body.key_hash || null,\n  disabled: body.disabled,\n  // 数据库相关\n  db_key_id: body.db_key_id || null,\n  business: body.business || '',\n  description: body.description || '',\n  owner_id: body.owner_id || null\n} }];"
      },
      "id": "preprocess",
      "name": "预处理参数",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.need_fetch_admin_key }}", "value2": true }]
        }
      },
      "id": "check-need-fetch",
      "name": "需要查询AdminKey",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://supabase-045.mindoffice.cn/rest/v1/llm_platform_accounts?id=eq.' + $json.platform_account_id + '&select=id,name,platform,admin_api_key_encrypted,status' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" }
          ]
        },
        "options": {}
      },
      "id": "fetch-admin-key",
      "name": "查询平台账号",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('预处理参数').first().json;\nconst dbResult = $input.first().json;\nconst account = Array.isArray(dbResult) ? dbResult[0] : dbResult;\n\nif (!account || !account.admin_api_key_encrypted) {\n  return [{ json: { success: false, error: '未找到平台账号或该账号没有配置 Admin Key' } }];\n}\nif (account.status !== 'active') {\n  return [{ json: { success: false, error: '平台账号状态异常: ' + account.status } }];\n}\nif (account.platform !== 'openrouter') {\n  return [{ json: { success: false, error: '平台类型不匹配，期望 openrouter，实际 ' + account.platform } }];\n}\n\nreturn [{ json: { ...prevData, admin_key: account.admin_api_key_encrypted, need_fetch_admin_key: false } }];"
      },
      "id": "merge-admin-key",
      "name": "合并AdminKey",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst action = data.action;\nconst adminKey = data.admin_key;\n\nif (!adminKey || !adminKey.startsWith('sk-or-')) {\n  return [{ json: { success: false, error: 'Admin Key 格式不正确，需要以 sk-or- 开头' } }];\n}\n\nif (action === 'create' && !data.name) {\n  return [{ json: { success: false, error: '创建 Key 需要提供 name' } }];\n}\n\nif ((action === 'delete' || action === 'update') && !data.key_hash) {\n  return [{ json: { success: false, error: '删除/更新需要提供 key_hash' } }];\n}\n\n// 路由标记\nreturn [{ json: { ...data, route: action } }];"
      },
      "id": "validate-input",
      "name": "验证输入",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.route === 'list' }}", "value2": true }]
        }
      },
      "id": "route-list",
      "name": "是列出操作",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.route === 'create' }}", "value2": true }]
        }
      },
      "id": "route-create",
      "name": "是创建操作",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 450]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.route === 'delete' }}", "value2": true }]
        }
      },
      "id": "route-delete",
      "name": "是删除操作",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 600]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.route === 'update' }}", "value2": true }]
        }
      },
      "id": "route-update",
      "name": "是更新操作",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 750]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.route === 'sync' }}", "value2": true }]
        }
      },
      "id": "route-sync",
      "name": "是同步操作",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 900]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://openrouter.ai/api/v1/keys",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.admin_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "list-keys",
      "name": "列出所有Keys",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1800, 250]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\n\nif (apiResult.error) {\n  return [{ json: { success: false, error: apiResult.error.message || '获取列表失败' } }];\n}\n\nconst keys = apiResult.data || [];\nreturn [{ json: { \n  success: true, \n  action: 'list', \n  count: keys.length,\n  keys: keys.map(k => ({\n    hash: k.hash,\n    name: k.name,\n    label: k.label,\n    disabled: k.disabled,\n    limit: k.limit,\n    limit_remaining: k.limit_remaining,\n    limit_reset: k.limit_reset,\n    usage: k.usage,\n    usage_daily: k.usage_daily,\n    usage_weekly: k.usage_weekly,\n    usage_monthly: k.usage_monthly,\n    created_at: k.created_at,\n    updated_at: k.updated_at,\n    expires_at: k.expires_at\n  }))\n} }];"
      },
      "id": "process-list",
      "name": "处理列表结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/keys",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.admin_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name, limit: $json.limit, limit_reset: $json.limit_reset, expires_at: $json.expires_at }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "create-key",
      "name": "创建API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\nconst inputData = $('验证输入').first().json;\n\n// 调试：记录原始响应\nconsole.log('OpenRouter Create Key Response:', JSON.stringify(apiResult));\n\nif (apiResult.error) {\n  return [{ json: { success: false, error: apiResult.error.message || '创建失败' } }];\n}\n\n// 尝试从多个位置提取 key data（兼容不同响应格式）\nconst keyData = apiResult.data || apiResult.body || apiResult;\n\n// 尝试从多个位置提取完整 key\nconst fullKey = keyData.key || keyData.data?.key || apiResult.key || '';\n\n// 调试警告\nif (!fullKey) {\n  console.log('WARNING: fullKey is empty! Keys in response:', Object.keys(apiResult));\n}\n\nconst keyPrefix = fullKey ? fullKey.substring(0, 12) : '';\nconst keySuffix = fullKey ? fullKey.slice(-4) : '';\n\nreturn [{ json: { \n  success: true, \n  action: 'create',\n  save_to_db: true,\n  key: {\n    hash: keyData.hash,\n    name: keyData.name || inputData.name,\n    full_key: fullKey,\n    api_key_prefix: keyPrefix,\n    api_key_suffix: keySuffix,\n    label: keyData.label,\n    limit: keyData.limit,\n    limit_reset: keyData.limit_reset,\n    expires_at: keyData.expires_at,\n    created_at: keyData.created_at\n  },\n  business: inputData.business,\n  description: inputData.description,\n  owner_id: inputData.owner_id,\n  platform_account_id: inputData.platform_account_id,\n  _debug_response: apiResult\n} }];"
      },
      "id": "process-create",
      "name": "处理创建结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 250]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.success && $json.save_to_db }}", "value2": true }]
        }
      },
      "id": "check-save-db",
      "name": "需保存数据库",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2240, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase-045.mindoffice.cn/rest/v1/llm_api_keys",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.key.name, platform: 'openrouter', api_key_encrypted: $json.key.full_key, api_key_prefix: $json.key.api_key_prefix, api_key_suffix: $json.key.api_key_suffix, platform_key_id: $json.key.hash, status: 'active', business: $json.business || null, description: $json.description || null, platform_account_id: $json.platform_account_id || null, expires_at: $json.key.expires_at || null, creation_method: 'api' }) }}",
        "options": {}
      },
      "id": "save-create-db",
      "name": "保存到数据库",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2460, 200]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('处理创建结果').first().json;\nconst dbResult = $input.first().json;\nconst keyId = Array.isArray(dbResult) ? dbResult[0]?.id : dbResult?.id;\n\nreturn [{ json: { \n  success: true, \n  action: 'create', \n  message: 'API Key 创建成功', \n  id: keyId, \n  key: { \n    hash: prevData.key.hash,\n    name: prevData.key.name, \n    label: prevData.key.label,\n    full_key: prevData.key.full_key,\n    api_key_prefix: prevData.key.api_key_prefix, \n    api_key_suffix: prevData.key.api_key_suffix \n  } \n} }];"
      },
      "id": "create-success-response",
      "name": "创建成功响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2680, 200]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ 'https://openrouter.ai/api/v1/keys/' + $json.key_hash }}",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.admin_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "delete-key",
      "name": "删除API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\nconst inputData = $('验证输入').first().json;\n\nif (apiResult.error) {\n  if (apiResult.error.code === 404 || apiResult.error.message?.includes('not found')) {\n    return [{ json: { success: true, action: 'delete', message: 'API Key 已不存在', db_key_id: inputData.db_key_id } }];\n  }\n  return [{ json: { success: false, error: apiResult.error.message || '删除失败' } }];\n}\n\nreturn [{ json: { success: true, action: 'delete', message: 'API Key 已删除', key_hash: inputData.key_hash, db_key_id: inputData.db_key_id } }];"
      },
      "id": "process-delete",
      "name": "处理删除结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.success && $json.db_key_id ? true : false }}", "value2": true }]
        }
      },
      "id": "check-db-delete",
      "name": "需删除数据库",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2240, 400]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ 'https://supabase-045.mindoffice.cn/rest/v1/llm_api_keys?id=eq.' + $json.db_key_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" }
          ]
        },
        "options": {}
      },
      "id": "delete-db",
      "name": "删除数据库记录",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2460, 350]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('处理删除结果').first().json;\nreturn [{ json: { success: true, action: 'delete', message: prevData.message + '，数据库已清除', db_deleted: true } }];"
      },
      "id": "delete-success-response",
      "name": "删除成功响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2680, 350]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $input.first().json;\nreturn [{ json: prevData }];"
      },
      "id": "delete-no-db-response",
      "name": "无需删除DB响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 480]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://openrouter.ai/api/v1/keys/' + $json.key_hash }}",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.admin_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name || undefined, disabled: $json.disabled !== undefined ? $json.disabled : undefined, limit: $json.limit !== undefined ? $json.limit : undefined, limit_reset: $json.limit_reset !== undefined ? $json.limit_reset : undefined }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "update-key",
      "name": "更新API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1800, 550]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\nconst inputData = $('验证输入').first().json;\n\nif (apiResult.error) {\n  return [{ json: { success: false, error: apiResult.error.message || '更新失败' } }];\n}\n\nconst keyData = apiResult.data || apiResult;\nreturn [{ json: { \n  success: true, \n  action: 'update', \n  save_to_db: !!inputData.db_key_id,\n  db_key_id: inputData.db_key_id,\n  key: { \n    hash: keyData.hash || inputData.key_hash,\n    name: keyData.name,\n    disabled: keyData.disabled,\n    limit: keyData.limit,\n    limit_reset: keyData.limit_reset\n  } \n} }];"
      },
      "id": "process-update",
      "name": "处理更新结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 550]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.success && $json.save_to_db }}", "value2": true }]
        }
      },
      "id": "check-update-db",
      "name": "需更新数据库",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2240, 550]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://supabase-045.mindoffice.cn/rest/v1/llm_api_keys?id=eq.' + $json.db_key_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.key.name || undefined, status: $json.key.disabled ? 'disabled' : 'active', updated_at: new Date().toISOString() }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "update-db",
      "name": "更新数据库记录",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2460, 500]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('处理更新结果').first().json;\nreturn [{ json: { success: true, action: 'update', message: 'API Key 更新成功，数据库已同步', key: prevData.key } }];"
      },
      "id": "update-success-response",
      "name": "更新成功响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2680, 500]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $input.first().json;\nreturn [{ json: { success: true, action: 'update', message: 'API Key 更新成功', key: prevData.key } }];"
      },
      "id": "update-no-db-response",
      "name": "更新无需DB响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 650]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://openrouter.ai/api/v1/credits",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.admin_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "get-credits",
      "name": "查询余额",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1800, 850]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\n\nif (apiResult.error) {\n  return [{ json: { success: false, error: apiResult.error.message || '查询余额失败' } }];\n}\n\nconst data = apiResult.data || {};\nreturn [{ json: { \n  success: true, \n  action: 'credits',\n  credits: {\n    total_credits: data.total_credits || 0,\n    total_usage: data.total_usage || 0,\n    remaining: (data.total_credits || 0) - (data.total_usage || 0)\n  }\n} }];"
      },
      "id": "process-credits",
      "name": "处理余额结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 850]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://openrouter.ai/api/v1/keys",
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.admin_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "sync-list-keys",
      "name": "获取Keys列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1800, 700]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\nconst inputData = $('验证输入').first().json;\n\n// 调试：输出 API 返回的原始数据格式\nconst debugInfo = {\n  apiResult_type: typeof apiResult,\n  apiResult_keys: apiResult ? Object.keys(apiResult) : [],\n  has_data: !!apiResult?.data,\n  data_isArray: Array.isArray(apiResult?.data),\n  data_length: Array.isArray(apiResult?.data) ? apiResult.data.length : 0,\n  admin_key_prefix: inputData?.admin_key?.substring(0, 15)\n};\n\nif (apiResult.error) {\n  return [{ json: { success: false, error: apiResult.error.message || '同步失败', debug: debugInfo } }];\n}\n\nconst keys = apiResult.data || [];\n\n// 如果没有 keys，返回调试信息\nif (!Array.isArray(keys) || keys.length === 0) {\n  return [{ json: { \n    success: true, \n    action: 'sync',\n    keys_count: 0,\n    keys: [],\n    save_to_db: false,\n    synced_at: new Date().toISOString(),\n    debug: debugInfo,\n    raw_api_result: JSON.stringify(apiResult).substring(0, 500)\n  } }];\n}\n\n// 使用 UTC 时间计算日期\nconst now = new Date();\nconst nowISO = now.toISOString();\nconst monthStart = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 1)).toISOString().split('T')[0];\n\n// 解析 label 格式: sk-or-v1-1d8...cde\nfunction parseLabel(label) {\n  if (!label) return { prefix: 'sk-or-v1-', suffix: '****' };\n  const parts = label.split('...');\n  if (parts.length === 2) {\n    return { prefix: parts[0], suffix: parts[1] };\n  }\n  return { prefix: label.substring(0, 12), suffix: label.slice(-4) };\n}\n\n// 生成批量 upsert 数据\nconst keysToSync = keys.map(k => {\n  const parsed = parseLabel(k.label);\n  return {\n    platform: 'openrouter',\n    platform_key_id: k.hash,\n    name: k.name,\n    label: k.label || '',\n    api_key_prefix: parsed.prefix,\n    api_key_suffix: parsed.suffix,\n    status: k.disabled ? 'disabled' : 'active',\n    expires_at: k.expires_at || null,\n    last_synced_at: nowISO,\n    usage_data: {\n      usage: k.usage || 0,\n      usage_daily: k.usage_daily || 0,\n      usage_weekly: k.usage_weekly || 0,\n      usage_monthly: k.usage_monthly || 0,\n      limit: k.limit,\n      limit_remaining: k.limit_remaining,\n      limit_reset: k.limit_reset\n    }\n  };\n});\n\nreturn [{ json: { \n  success: true, \n  action: 'sync',\n  platform_account_id: inputData.platform_account_id,\n  keys_count: keysToSync.length,\n  keys: keysToSync,\n  month_start: monthStart,\n  synced_at: nowISO,\n  save_to_db: true\n} }];"
      },
      "id": "process-sync",
      "name": "处理同步数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 700]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.success && $json.save_to_db && $json.keys_count > 0 }}", "value2": true }]
        }
      },
      "id": "check-save-sync",
      "name": "需保存同步数据",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2240, 700]
    },
    {
      "parameters": {
        "jsCode": "// 保存同步数据到变量，供后续节点使用\nconst data = $input.first().json;\nreturn [{ json: { \n  _saved_sync_data: data,\n  platform_account_id: data.platform_account_id,\n  keys: data.keys,\n  keys_count: data.keys_count,\n  month_start: data.month_start,\n  synced_at: data.synced_at\n} }];"
      },
      "id": "save-sync-context",
      "name": "保存同步上下文",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://supabase-045.mindoffice.cn/rest/v1/llm_api_keys?platform=eq.openrouter&select=id,platform_key_id' + ($json.platform_account_id ? '&platform_account_id=eq.' + $json.platform_account_id : '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "fetch-openrouter-keys-mapping",
      "name": "查询Keys映射",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2680, 600],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 从保存同步上下文节点获取原始数据\nconst savedContext = $('保存同步上下文').first();\nconst syncData = savedContext?.json?._saved_sync_data || savedContext?.json || {};\n\n// 调试信息\nconst debugSync = {\n  savedContext_exists: !!savedContext,\n  savedContext_json_keys: savedContext?.json ? Object.keys(savedContext.json) : [],\n  has_saved_sync_data: !!savedContext?.json?._saved_sync_data,\n  syncData_keys: Object.keys(syncData),\n  syncData_keys_count: syncData.keys_count,\n  syncData_keys_array_length: (syncData.keys || []).length\n};\n\n// 如果没有同步数据，返回调试信息\nif (!syncData.keys || syncData.keys.length === 0) {\n  return [{ json: { \n    success: false, \n    error: '无法从保存同步上下文获取数据',\n    debug: debugSync,\n    syncData_preview: JSON.stringify(syncData).substring(0, 300)\n  } }];\n}\n\n// 修复：使用 $input.all() 获取所有数据库返回的记录\nconst allInputItems = $input.all().map(item => item.json);\n// 处理数据库查询结果 - 可能是多个 items 或者单个包含数组的 item\nlet dbKeys = [];\nif (allInputItems.length > 0) {\n  // 检查第一个 item 是否是数组（整个结果作为一个 item 返回）\n  if (Array.isArray(allInputItems[0])) {\n    dbKeys = allInputItems[0];\n  } else if (allInputItems[0] && typeof allInputItems[0] === 'object' && allInputItems[0].id) {\n    // 多个 items，每个 item 是一条记录\n    dbKeys = allInputItems;\n  }\n}\n\n// 创建 platform_key_id -> db_id 映射\nconst keyIdMap = {};\ndbKeys.forEach(k => {\n  if (k && k.platform_key_id) keyIdMap[k.platform_key_id] = k.id;\n});\n\n// 获取要同步的 keys\nconst keysFromApi = syncData.keys || [];\n\n// 分离：新 Keys（需要创建）和 已有 Keys（需要更新）\nconst keysToCreate = [];\nconst existingKeys = [];\n\nkeysFromApi.forEach(k => {\n  const dbKeyId = keyIdMap[k.platform_key_id];\n  if (dbKeyId) {\n    existingKeys.push({ ...k, db_id: dbKeyId });\n  } else {\n    // 新 Key，需要创建\n    keysToCreate.push({\n      name: k.name || 'OpenRouter Key',\n      platform: 'openrouter',\n      api_key_encrypted: k.label || '[synced]',\n      api_key_prefix: k.api_key_prefix || 'sk-or-v1-',\n      api_key_suffix: k.api_key_suffix || '****',\n      platform_key_id: k.platform_key_id,\n      status: k.status || 'active',\n      platform_account_id: syncData.platform_account_id || null,\n      last_synced_at: syncData.synced_at,\n      creation_method: 'sync',\n      _usage_data: k.usage_data\n    });\n  }\n});\n\nreturn [{ json: { \n  ...syncData, \n  keys_to_create: keysToCreate,\n  existing_keys: existingKeys,\n  new_count: keysToCreate.length,\n  existing_count: existingKeys.length,\n  db_keys_count: dbKeys.length,\n  api_keys_count: keysFromApi.length\n} }];"
      },
      "id": "prepare-sync-records",
      "name": "准备同步记录",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 600]
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{ $json.new_count }}", "operation": "larger", "value2": 0 }]
        }
      },
      "id": "check-has-new-keys",
      "name": "有新Keys需创建",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3120, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase-045.mindoffice.cn/rest/v1/llm_api_keys?on_conflict=platform,platform_key_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation,resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.keys_to_create.map(k => ({ name: k.name, platform: k.platform, api_key_encrypted: k.api_key_encrypted, api_key_prefix: k.api_key_prefix, api_key_suffix: k.api_key_suffix, platform_key_id: k.platform_key_id, status: k.status, platform_account_id: k.platform_account_id, last_synced_at: k.last_synced_at, creation_method: k.creation_method })) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "create-new-keys",
      "name": "创建新Keys到数据库",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3340, 500]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('准备同步记录').first().json;\n// 修复：使用 $input.all() 获取所有返回的记录，而不是只获取第一个\nconst createdKeys = $input.all().map(item => item.json);\n\n// 合并新创建的 Keys 和已有的 Keys\nconst allKeys = [...prevData.existing_keys];\n\n// 为新创建的 Keys 添加 db_id\ncreatedKeys.forEach(dbKey => {\n  const originalKey = prevData.keys_to_create.find(k => k.platform_key_id === dbKey.platform_key_id);\n  if (originalKey) {\n    allKeys.push({ ...originalKey, db_id: dbKey.id, usage_data: originalKey._usage_data });\n  }\n});\n\n// 生成用量记录 - 包含余额和消费数据\nconst usageRecords = allKeys.map(k => {\n  const ud = k.usage_data || k._usage_data || {};\n  return {\n    api_key_id: k.db_id,\n    period_start: prevData.month_start,\n    synced_at: prevData.synced_at,\n    sync_status: 'success',\n    balance: ud.limit_remaining || 0,\n    credit_limit: ud.limit || null,\n    total_usage: ud.usage || 0,\n    monthly_usage: ud.usage_monthly || 0,\n    daily_usage: ud.usage_daily || 0,\n    raw_response: JSON.stringify(ud)\n  };\n}).filter(r => r.api_key_id);\n\nreturn [{ json: { \n  ...prevData,\n  created_count: createdKeys.length,\n  usage_records: usageRecords,\n  total_keys: allKeys.length\n} }];"
      },
      "id": "merge-created-keys",
      "name": "合并新建Keys",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3560, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase-045.mindoffice.cn/rest/v1/llm_api_key_usage?on_conflict=api_key_id,period_start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.usage_records }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "save-sync-usage",
      "name": "保存用量到数据库",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3780, 500]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('合并新建Keys').first().json;\n\n// 计算统计数据\nconst records = prevData.usage_records || [];\nconst totalUsage = records.reduce((sum, r) => sum + (r.total_usage || 0), 0);\nconst monthlyUsage = records.reduce((sum, r) => sum + (r.monthly_usage || 0), 0);\nconst dailyUsage = records.reduce((sum, r) => sum + (r.daily_usage || 0), 0);\nconst totalBalance = records.reduce((sum, r) => sum + (r.balance || 0), 0);\n\nreturn [{ json: { \n  success: true, \n  action: 'sync',\n  message: `同步完成！新增 ${prevData.created_count || 0} 个，共 ${prevData.total_keys} 个 Keys`,\n  keys_count: prevData.total_keys,\n  created_count: prevData.created_count || 0,\n  total_keys: prevData.total_keys,\n  synced_at: prevData.synced_at,\n  stats: {\n    total_usage: totalUsage,\n    monthly_usage: monthlyUsage,\n    daily_usage: dailyUsage,\n    total_balance: totalBalance\n  }\n} }];"
      },
      "id": "sync-success-response",
      "name": "同步成功响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4000, 500]
    },
    {
      "parameters": {
        "jsCode": "// 没有新 Keys，直接处理已有 Keys 的用量\nconst prevData = $input.first().json;\n\n// 生成用量记录（仅已有 Keys）- 包含余额和消费数据\nconst usageRecords = prevData.existing_keys.map(k => {\n  const ud = k.usage_data || {};\n  return {\n    api_key_id: k.db_id,\n    period_start: prevData.month_start,\n    synced_at: prevData.synced_at,\n    sync_status: 'success',\n    balance: ud.limit_remaining || 0,\n    credit_limit: ud.limit || null,\n    total_usage: ud.usage || 0,\n    monthly_usage: ud.usage_monthly || 0,\n    daily_usage: ud.usage_daily || 0,\n    raw_response: JSON.stringify(ud)\n  };\n}).filter(r => r.api_key_id);\n\nreturn [{ json: { \n  ...prevData,\n  usage_records: usageRecords,\n  total_keys: prevData.existing_count\n} }];"
      },
      "id": "prepare-existing-usage",
      "name": "准备已有Keys用量",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3340, 700]
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{ $json.usage_records.length }}", "operation": "larger", "value2": 0 }]
        }
      },
      "id": "check-has-existing-usage",
      "name": "有已有Keys用量",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3560, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase-045.mindoffice.cn/rest/v1/llm_api_key_usage?on_conflict=api_key_id,period_start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NjEwNjI0MDAsImV4cCI6MTkxODgyODgwMH0.HD7LnjoZVHUEcL6I2ZmYadE1rlalv5cjzTwgMthBbXg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.usage_records }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "save-existing-usage",
      "name": "保存已有Keys用量",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3780, 650]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('准备已有Keys用量').first().json;\n\n// 计算统计数据\nconst records = prevData.usage_records || [];\nconst totalUsage = records.reduce((sum, r) => sum + (r.total_usage || 0), 0);\nconst monthlyUsage = records.reduce((sum, r) => sum + (r.monthly_usage || 0), 0);\nconst dailyUsage = records.reduce((sum, r) => sum + (r.daily_usage || 0), 0);\nconst totalBalance = records.reduce((sum, r) => sum + (r.balance || 0), 0);\n\nreturn [{ json: { \n  success: true, \n  action: 'sync',\n  message: `同步完成！更新 ${prevData.total_keys} 个 Keys 的用量`,\n  keys_count: prevData.total_keys,\n  total_keys: prevData.total_keys,\n  synced_at: prevData.synced_at,\n  stats: {\n    total_usage: totalUsage,\n    monthly_usage: monthlyUsage,\n    daily_usage: dailyUsage,\n    total_balance: totalBalance\n  }\n} }];"
      },
      "id": "sync-existing-success",
      "name": "已有Keys同步成功",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4000, 650]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('准备已有Keys用量').first().json;\nreturn [{ json: { \n  success: true, \n  action: 'sync',\n  message: '同步完成，没有 Keys 需要更新',\n  keys_count: prevData.keys_count,\n  synced_at: prevData.synced_at\n} }];"
      },
      "id": "sync-no-update-response",
      "name": "无需更新响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3780, 800]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $input.first().json;\n\n// 调试：输出更多信息帮助定位问题\nreturn [{ json: { \n  success: prevData.success !== false,\n  action: 'sync',\n  message: `同步完成，发现 ${prevData.keys_count || 0} 个 Keys（无需保存）`,\n  keys_count: prevData.keys_count || 0,\n  created_count: 0,\n  total_keys: prevData.keys_count || 0,\n  synced_at: prevData.synced_at || new Date().toISOString(),\n  stats: { total_usage: 0, monthly_usage: 0, daily_usage: 0, total_balance: 0 },\n  debug_save_to_db: prevData.save_to_db,\n  debug_keys_array_length: (prevData.keys || []).length\n} }];"
      },
      "id": "sync-skip-response",
      "name": "跳过保存响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 800]
    }
  ],
  "connections": {
    "Webhook触发": { "main": [[{ "node": "预处理参数", "type": "main", "index": 0 }]] },
    "预处理参数": { "main": [[{ "node": "需要查询AdminKey", "type": "main", "index": 0 }]] },
    "需要查询AdminKey": { 
      "main": [
        [{ "node": "查询平台账号", "type": "main", "index": 0 }],
        [{ "node": "验证输入", "type": "main", "index": 0 }]
      ] 
    },
    "查询平台账号": { "main": [[{ "node": "合并AdminKey", "type": "main", "index": 0 }]] },
    "合并AdminKey": { "main": [[{ "node": "验证输入", "type": "main", "index": 0 }]] },
    "验证输入": { "main": [[{ "node": "是列出操作", "type": "main", "index": 0 }]] },
    "是列出操作": { 
      "main": [
        [{ "node": "列出所有Keys", "type": "main", "index": 0 }],
        [{ "node": "是创建操作", "type": "main", "index": 0 }]
      ] 
    },
    "是创建操作": { 
      "main": [
        [{ "node": "创建API Key", "type": "main", "index": 0 }],
        [{ "node": "是删除操作", "type": "main", "index": 0 }]
      ] 
    },
    "是删除操作": { 
      "main": [
        [{ "node": "删除API Key", "type": "main", "index": 0 }],
        [{ "node": "是更新操作", "type": "main", "index": 0 }]
      ] 
    },
    "是更新操作": { 
      "main": [
        [{ "node": "更新API Key", "type": "main", "index": 0 }],
        [{ "node": "是同步操作", "type": "main", "index": 0 }]
      ] 
    },
    "是同步操作": { 
      "main": [
        [{ "node": "获取Keys列表", "type": "main", "index": 0 }],
        [{ "node": "查询余额", "type": "main", "index": 0 }]
      ] 
    },
    "列出所有Keys": { "main": [[{ "node": "处理列表结果", "type": "main", "index": 0 }]] },
    "创建API Key": { "main": [[{ "node": "处理创建结果", "type": "main", "index": 0 }]] },
    "处理创建结果": { "main": [[{ "node": "需保存数据库", "type": "main", "index": 0 }]] },
    "需保存数据库": { 
      "main": [
        [{ "node": "保存到数据库", "type": "main", "index": 0 }],
        []
      ] 
    },
    "保存到数据库": { "main": [[{ "node": "创建成功响应", "type": "main", "index": 0 }]] },
    "删除API Key": { "main": [[{ "node": "处理删除结果", "type": "main", "index": 0 }]] },
    "处理删除结果": { "main": [[{ "node": "需删除数据库", "type": "main", "index": 0 }]] },
    "需删除数据库": { 
      "main": [
        [{ "node": "删除数据库记录", "type": "main", "index": 0 }],
        [{ "node": "无需删除DB响应", "type": "main", "index": 0 }]
      ] 
    },
    "删除数据库记录": { "main": [[{ "node": "删除成功响应", "type": "main", "index": 0 }]] },
    "更新API Key": { "main": [[{ "node": "处理更新结果", "type": "main", "index": 0 }]] },
    "处理更新结果": { "main": [[{ "node": "需更新数据库", "type": "main", "index": 0 }]] },
    "需更新数据库": { 
      "main": [
        [{ "node": "更新数据库记录", "type": "main", "index": 0 }],
        [{ "node": "更新无需DB响应", "type": "main", "index": 0 }]
      ] 
    },
    "更新数据库记录": { "main": [[{ "node": "更新成功响应", "type": "main", "index": 0 }]] },
    "获取Keys列表": { "main": [[{ "node": "处理同步数据", "type": "main", "index": 0 }]] },
    "处理同步数据": { "main": [[{ "node": "需保存同步数据", "type": "main", "index": 0 }]] },
    "需保存同步数据": { 
      "main": [
        [{ "node": "保存同步上下文", "type": "main", "index": 0 }],
        [{ "node": "跳过保存响应", "type": "main", "index": 0 }]
      ] 
    },
    "保存同步上下文": { "main": [[{ "node": "查询Keys映射", "type": "main", "index": 0 }]] },
    "查询Keys映射": { "main": [[{ "node": "准备同步记录", "type": "main", "index": 0 }]] },
    "准备同步记录": { "main": [[{ "node": "有新Keys需创建", "type": "main", "index": 0 }]] },
    "有新Keys需创建": { 
      "main": [
        [{ "node": "创建新Keys到数据库", "type": "main", "index": 0 }],
        [{ "node": "准备已有Keys用量", "type": "main", "index": 0 }]
      ] 
    },
    "创建新Keys到数据库": { "main": [[{ "node": "合并新建Keys", "type": "main", "index": 0 }]] },
    "合并新建Keys": { "main": [[{ "node": "保存用量到数据库", "type": "main", "index": 0 }]] },
    "保存用量到数据库": { "main": [[{ "node": "同步成功响应", "type": "main", "index": 0 }]] },
    "准备已有Keys用量": { "main": [[{ "node": "有已有Keys用量", "type": "main", "index": 0 }]] },
    "有已有Keys用量": { 
      "main": [
        [{ "node": "保存已有Keys用量", "type": "main", "index": 0 }],
        [{ "node": "无需更新响应", "type": "main", "index": 0 }]
      ] 
    },
    "保存已有Keys用量": { "main": [[{ "node": "已有Keys同步成功", "type": "main", "index": 0 }]] },
    "查询余额": { "main": [[{ "node": "处理余额结果", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
