n8n-workflows/llm-api-keys/openai-list-projects.json
{
  "name": "OpenAI Admin - 列出项目 (openai-list-projects.json)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "developer-platform/openai/list-projects",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "openai-list-projects"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.openai.com/v1/organization/projects",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "100" },
            { "name": "include_archived", "value": "false" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": { 
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $json.body.admin_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ] 
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "call-openai-api",
      "name": "调用OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const apiResult = $input.first().json;\n\n// 检查 API 错误\nif (apiResult.error) {\n  return [{ json: { \n    success: false, \n    error: apiResult.error.message || 'OpenAI API 调用失败',\n    code: apiResult.error.code\n  } }];\n}\n\n// 处理返回的 Projects 列表\nconst projects = apiResult.data || [];\n\nconst formattedProjects = projects.map(p => ({\n  id: p.id,\n  name: p.name,\n  status: p.status,\n  created_at: p.created_at ? new Date(p.created_at * 1000).toISOString() : null\n}));\n\nreturn [{ json: { \n  success: true,\n  projects: formattedProjects,\n  total: formattedProjects.length\n} }];"
      },
      "id": "process-result",
      "name": "处理结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook触发": { "main": [[{ "node": "调用OpenAI API", "type": "main", "index": 0 }]] },
    "调用OpenAI API": { "main": [[{ "node": "处理结果", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}
